<% include ./partials/header %>

    <div id="header-jumbotron">
        <div class="container">
            <header class="jumbotron">
                <div class="container">
                    <h1 class="display-4">Welcome to link shortener!</h1>
                    <p class="lead">This is small app. Let's shorten you link! </p>
                    <hr class="my-4">
                    <p class="lead">
                        <a href="/links/new" class="btn btn-danger btn-lg" type="button">Add New Link</a>
                    </p>
                </div>
            </header>
        </div>
    </div>

    <div id="links">
        <div class="container">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th scope="col">Shorten URL</th>
                        <th scope="col">Long URL</th>
                        <th scope="col">Go!</th>
                        <th scope="col">When added?</th>
                        <th scope="col">Clicks</th>
                    </tr>
                </thead>
                <tbody>
                    <% allLinks.forEach(function(link){ %>
                        <tr>
                            <th>
                                <%= 'http://' +  host + '/' + link.shorten %>
                            </th>
                            <th>
                                <a alt="<%=link.url%>">
                                    <%=link.url.substring(0, 25)%>
                                </a>
                            </th>
                            <th><a href="<%= 'http://' +  host + '/' + link.shorten %>" class="btn btn-danger" target="_blank">GO!</a></th>
                            <th>
                                <%= moment(link.createdAt).fromNow() %>
                            </th>
                            <th>
                                <%= link.clicks.length %>
                            </th>
                        </tr>
                        <% }); %>
                </tbody>
            </table>
        </div>
    </div>

    <% include ./partials/footer %>